/*
Put here your own style
*/

div#modules_list_core {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: var(--logo-ciclat);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

div#modules_list_core > a:has(#Account_module) {
    order: 3000;
    background-color: var(--colore-sfondo-account);    
}

div#modules_list_core > a:has(#Commessa_module) {
    order: 1000;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#Lotto_module) {
    order: 1100;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#Ente_module) {
    order: 1150;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#RPF_module) {
    order: 1200;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#OPF_module) {
    order: 1300;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#PDA_module) {
    order: 1350;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#AttoAggiuntivo_module) {
    order: 1400;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#EsecutoriDelServizio_module) {
    order: 1450;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#Edificio_module) {
    order: 1455;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#AnagraficaTecnica_module) {
    display: none;
    order: 1460;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#Richiesta_module) {
  display: none;
}

div#modules_list_core > a:has(#Risposta_module) {
  display: none;
}

div#modules_list_core > a:has(#Incarico_module) {
    order: 1470;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#Scadenza_module) {
    order: 1500;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#Avviso_module) {
    display: none;
    order: 1600;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#Servizio_module) {
    order: 1700;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#Allegato_module) {
    order: 1800;
    background-color: var(--colore-sfondo-dati);
}

div#modules_list_core > a:has(#Adempimento_module) {
    order: 2100;
    background-color: var(--colore-sfondo-config);
}

div#modules_list_core > a:has(#ModelloAvvisoScadenza_module) {
    display: none;
    order: 2200;
    background-color: var(--colore-sfondo-config);
}

div#modules_list_core > a:has(#ModelloNotificaInserimentoDoc_module) {
    display: none;
    order: 2250;
    background-color: var(--colore-sfondo-config);
}

#modules_list .selected {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 87%, var(--colore-modulo-selezionato) 100%);
    border-right: 4px solid var(--colore-modulo-selezionato);
}

input.editor[type="text"] {
    background-color: var(--colore-sfondo-campi-inserimento);
}

tr:has(.legare-evasa) {
    background: var(--bg-scadenza-evasa);
    color: var(--fg-scadenza-evasa);
}

tr:has(.legare-normale) {
    background: var(--bg-scadenza-normale);
    color: var(--fg-scadenza-normale);
}

tr:has(.legare-imminente) {
    background: var(--bg-scadenza-imminente);
    color: var(--fg-scadenza-imminente);
}

tr:has(.legare-urgente) {
    background: var(--bg-scadenza-urgente);
    color: var(--fg-scadenza-urgente);
}

tr:has(.legare-urgentissima) {
    background: var(--bg-scadenza-urgentissima);
    color: var(--fg-scadenza-urgentissima);
}

tr:has(.legare-scaduta) {
    background: var(--bg-scadenza-scaduta);
    color: var(--fg-scadenza-scaduta);
}

#betaimage {
    position:absolute;
    right: 0;
    top: 0;
    z-index: -10;
    min-width: 5vw;
    min-height: 5vw;
}


div#main:has(#sign_in_box) {
  min-height: 95vh;
  background-image: var(--logo-ciclat);
  background-size: 30%;
  background-position: bottom;
  background-repeat: no-repeat;
}
