/* legaredark.css */

@import 'dark.css';

/* tema colori modificato per OX 7.2 
:root {
  --colore-modulo-selezionato: #B9EEF4;
  --colore-sfondo-account: rgba(0,0,0,0.3);
  --colore-sfondo-config: rgba(0,0,0,0.2);
  --colore-sfondo-dati: rgba(255,255,255,0.2);
  --colore-sfondo-campi-inserimento: #e5e5e5;
} */

/* tema colori per OX 7.3+ */
:root {
  --colore-modulo-selezionato: #B9EEF4;
  --colore-sfondo-account: rgba(0,0,0,0.3);
  --colore-sfondo-config: rgba(0,0,0,0.2);
  --colore-sfondo-dati: rgba(255,255,255,0.2);
  --bg-scadenza-evasa: linear-gradient(180deg, black 0%, black 97%, darkgray 100%);
  --fg-scadenza-evasa: darkgrey;
  --bg-scadenza-normale: linear-gradient(180deg, darkslategrey 0%, darkslategrey 97%, bisque 100%);
  --fg-scadenza-normale: white;
  --bg-scadenza-imminente: linear-gradient(180deg, darkgoldenrod 0%, darkslategrey 97%, bisque 100%);
  --fg-scadenza-imminente: white;
  --bg-scadenza-urgente: linear-gradient(180deg, crimson 0%, darkgoldenrod 97%, violet 100%);
  --fg-scadenza-urgente: white;
  --bg-scadenza-urgentissima: linear-gradient(180deg, red 0%, crimson 97%, violet 100%);
  --fg-scadenza-urgentissima: white;
  --bg-scadenza-scaduta: linear-gradient(180deg, black 0%, purple 97%, red 100%);
  --fg-scadenza-scaduta: orange;
  --logo-ciclat: url(ciclatfm-dt.png);
}

#module_header .unselected {
    filter: invert(20%);
}


